.container360 {
   display: flex;
   flex-direction: column;
   gap: 20px;

   & a {
      &:hover {
         text-decoration: underline;
      }
   }
}

.is16by9 {
   width: 100%;
   height: 200px;
   border-radius: var(--border-radius-md);
   margin-bottom: -10px;
}

.errorContainer360 {
   border: 3px solid #404040;
   border-radius: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 120px;
}
