.menu {
   max-width: 1200px;
   margin: 0 auto;
}

.categoryTabs {
   display: flex;
   justify-content: center;
   gap: 10px;
   margin-bottom: 35px;

   & .tabBtn {
      color: var(--color-secondary);
      border: 2px solid var(--color-secondary);
      background-color: transparent;
   }

   & .active {
      color: white;
      background: var(--color-secondary);
   }
}

.menuItems {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
   gap: 25px;

   & .menuItem {
      border-radius: var(--border-radius-md);
      box-shadow: var(--shadow-sm);
      overflow: hidden;
      transition: var(--transition-normal);

      &:hover {
         transform: translateY(-5px);
      }

      & .itemImage {
         height: 200px;

         img {
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
      }

      & .itemInfo {
         padding: 15px;
      }

      & .itemPrice {
         color: #e91e63;
         font-weight: bold;
      }

      .itemDesc {
         color: #666;
         margin: 5px 0 0 0;
      }
   }
}
