.reservation-btn {
   background-color: var(--main-btn);
}
.google-maps-btn > a {
   text-decoration: none;
   color: white;
}

/* Rendering model */
.map-render-container {
   display: flex;
   min-height: 520px;
   gap: 25px;
}

.scene-container {
   position: relative;
   overflow: hidden;
   box-shadow: var(--main-shadow);
   border-radius: var(--border-radius);
   flex: 2;
   height: 520px;
}

.viewer-360 {
   display: flex;
   flex-direction: column;
   overflow-y: auto;
   background-color: white;
   border-radius: var(--border-radius);
   box-shadow: var(--secondary-shadow);
   text-align: justify;
   padding: 20px;
   flex: 1;
   gap: 20px;
}

.panel-data {
   text-align: justify;
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.canvas {
   z-index: 100;
}
.canvas > div {
   min-height: 400px;
}

/* Components preview 360 */
.container-360 {
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.error-container-360 {
   border: 3px solid #404040;
   border-radius: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 120px;
}

/* Navigation btns */
.actions-btns,
.navigation-btns {
   position: absolute;
   display: flex;
   gap: 10px;
   z-index: 900;
}
.actions-btns {
   top: 10px;
   left: 10px;
}
.navigation-btns {
   bottom: 10px;
   right: 10px;
}

.actions-btns > button,
.navigation-btns > button {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 50px;
   width: 55px;
   box-shadow: var(--main-shadow);
   background: #70707050;
   backdrop-filter: blur(5px);
}

:fullscreen .scene-container {
   height: 100vh !important;
   width: 100vw !important;
   max-height: none !important;
   border-radius: 0 !important;
   box-shadow: none !important;
}

:fullscreen .canvas {
   height: 100% !important;
   min-height: 100% !important;
}

:fullscreen .canvas > div {
   height: 100% !important;
   min-height: 100% !important;
}

:fullscreen .actions-btns {
   top: 20px;
   left: 20px;
}
:fullscreen .navigation-btns {
   bottom: 20px;
   right: 20px;
}
.fullscreen-active .actions-btns,
.fullscreen-active .navigation-btns {
   padding: 10px;
}

/* MEDIA QUERIES */
@media (width < 900px) {
   .map-render-container {
      flex-direction: column-reverse;
      min-height: auto;
   }

   .scene-container {
      height: 380px;
      flex: none;
   }

   .viewer-360 {
      flex: none;
   }
}
