.form {
   display: flex;
   flex-direction: column;
   gap: 20px;
   margin-top: 25px;
}

.formGroup {
   color: var(--font-color-base);

   & input,
   textarea {
      width: 100%;
   }
}

.submitBtn {
   background-color: var(--color-secondary);
}
.cancel {
   color: var(--color-secondary);
   border: 2px solid var(--color-secondary);
   background-color: transparent;
}

.deleteActions {
   margin-top: 20px;
   display: flex;
   gap: 10px;

   & button {
      flex: 1;
   }
}
