.route-360-container {
   display: flex;
   min-height: 520px;
   gap: 25px;
}
.route-360 {
   display: flex;
   flex: 2;
}
.is-16by9 {
   width: 100%;
   box-shadow: var(--main-shadow);
   border-radius: var(--border-radius);
}

@media (max-width: 900px) {
   .route-360-container {
      flex-direction: column;
   }
}
