.route360 {
   display: flex;
   min-height: 520px;
   gap: 25px;
}

.iframe {
   width: 100%;
   border-radius: var(--border-radius-md);
   box-shadow: var(--shadow-lg);
}

.container {
   display: flex;
   flex: 2;
}

.description {
   display: flex;
   flex-direction: column;
   overflow-y: auto;
   background-color: white;
   border-radius: var(--border-radius-md);
   box-shadow: var(--shadow-sm);
   text-align: justify;
   padding: 20px;
   gap: 20px;
   flex: 1;
}

@media (max-width: 900px) {
   .iframe {
      height: 380px;
   }
   .route360 {
      flex-direction: column;
   }
}
